
.SelUplLive{
  position: fixed;
  background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
  width:90%;
  top:25%;
  //margin: 50;
  left:20px;
  height: 350px;
}

// https://ithelp.ithome.com.tw/articles/10195313